:root {
  --border-radius: 12px;
  --font-family: Arial,sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}
